		.overlay {
			height: 0;
			width: 100%;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			margin: 0px;
			background-color: rgba(0,0,0,0);
			overflow-x: hidden;
			display: block;
			//transition: height 0.5s;
		}

		.overlay-top-left {
			position: relative;
			//width: 100%;
			//max-height: 48px;
			//height: 10%;
			//padding: 5px;
			display: inline;
			//background-color: rgba(0,0,0,0.5);
			float: left;
			z-index: 3;
			pointer-events: all;
		}
		
		.overlay-left {
			position: relative;
			width: 10%;
			height: 95%;
			max-width: 48px;
			padding: 5px;
			background-color: rgba(0,0,0,0.5);
			float: left;
		}
		
		.overlay-right {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 10%;
			max-width: 48px;
			height: 95%;
			padding: 5px;
			background-color: rgba(0,0,0,0.5);
			transform: translate(0%, 50%);
		}
		
		.overlay-top-right {
			position: relative;
			//width: 10%;
			//max-width:48px;
			height: 100%;
			max-height: 24px;
			top:24px;
			align: right;
			//left: -40px;
			background-color: rgba(0,0,0,0.5);
			float: right;
			z-index: 3;
			padding-right: 20px;
		}
		
		.overlay-middle-left {
			position: relative;
			height: 100px;
			width: 50px;
			padding: 5px;
			background-color: rgba(0,0,0,0);
			float: left;
			margin-left:10px;
			top: 50%;
		}
		
		.overlay-top-center {
			position: absolute;
			left: 50%;
			top: 26px;
			height: 10%;
			max-height: 48px;			
			//padding: 5px;
			transform: translate(-50%, 0%);
			margin: auto;
			//background-color: rgba(0,0,0,0.5);
			height: 48px;
			width: 100%;
			text-align: center;
		}
		
		.overlay-bottom-center {
			position: absolute;
			left: 50%;
			bottom: 5px;
			transform: translate(-50%, 0%);
			margin: auto;
			//background-color: rgba(0,0,0,0.5);
			//height: 48px;
			width: 100%;
			text-align: center;
			z-index: 3;
		}
		
		
		.overlay-bottom-left {
			position: absolute;
			bottom: 0px;
			height: 10%;
			max-height: 48px;
			width: 100%;
			padding: 5px;
			background-color: rgba(0,0,0,0.5);
			float: left;
			margin-left:10px;
		}
		
		.overlay-bottom-right {
		
			position: absolute;
			height: 100%;
			width: 64px;
			max-height: 64px;
			bottom: 0px;
			right:0px;
			align: right;
			//background-color: rgba(0,0,0,0.5);
			float: right;
			z-index: 3;
			//padding-right: 20px;
			
			/*position: absolute;
			bottom: 0px;
			height: 10%;
			max-height: 48px;
			width: 100%;
			padding: 5px;
			background-color: rgba(0,0,0,0.5);

			float: right;
			z-index: 3;
			display: inline;*/
			
		}

		.overlay a {
			padding: 8px;
			text-decoration: none;
			font-size: 36px;
			color: #818181;
			display: block;
			//transition: 0.3s;
		}

		.overlay a:hover, .overlay a:focus {
			color: #f1f1f1;
		}

		.overlay .closebtn {
			position: absolute;
			top: 20px;
			right: 45px;
			font-size: 60px;
		}
		
		.titre {
			position: absolute;
			left: 50%;
			top: 0px;
			width:100%;
			text-align: center;
			transform: translate(-50%, 0%);
			margin: 0 auto;
			background-color: rgba(0,0,40,0.5);
			height: 24px;
			line-height: 24px;
			z-index: 3;
			font-size:14pt;
			pointer-events: none;
		}
		
		.minivideo {
			width: 40%;
			height: 40%;
			
			//position: relative;
			position: absolute;

			z-index: 3;
			right: 20px;
			top: 30px;
			
			display: inline-block;
			align: left;
			float: left;

			background-color: rgba(0,0,0,0);
			//background-color: black;
			
			
		}
		
		.minispeaker {
			width: 100px;
			height: 100px;
			
			position: relative;

			z-index: 3;
			right: 0px;
			top: 30px;
			
			display: inline;
			align: left;
			float: left;

			background-color: rgba(0,0,0,0);
			//background-color: black;
			
			
		}
		
		.minicontrols {
			position: relative;
			z-index: 4;
			top: 20px;
			left: -10px;
			height: 24px;
			display: inline;
			background-color: rgba(0,0,0,0.5);
			
		}
		
		.ui-dialog .ui-dialog-content{
			background-color: rgba(0,0,0,0.5);
			color: white;
		
		}
		
		.noTitleStuff .ui-dialog-titlebar { display: none }
		
		.ui-widget-content.ui-dialog{
			background: black;
			padding: 0;
			
		}
		.ui-widget.ui-widget-content{
			border: 0;
			//border-left: 1px solid white;
		}
		video {
		  position: absolute;
		  top: 0px;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  //-o-object-fit: cover;
		  //  object-fit: cover;
		  -o-object-fit: contain;
		    object-fit: contain;
		  //-o-object-fit: fill;
		  //   object-fit: fill;
		  -o-object-position: top center;
			 object-position: top center;
			background-color: black;
		}
		
		.button1 {
			/*border-radius: 5px;
			background-color: white;
			width: 20px;
			height: 20px;
			top:0;*/
			background-color: white;
			border-radius: 5px;
			border: none;
			color: black;
			padding: 0px 0px;
			width: 20px;
			height: 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 12px;
			vertical-align:top;
			cursor:pointer;	
			
		}
		