# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
docs/--no-check-certificate
docs/swagger.json

*.user
.idea

# Docker
docker/prod/certificates/*.pem

# Node modules
node_modules/
/teraserver/python/messages/python/*
/teraserver/python/certificates/ca_cert.pem
/teraserver/python/certificates/ca_key.pem
/teraserver/python/certificates/devices/client_certificate.pem
/teraserver/python/certificates/devices/client_key.pem
/teraserver/python/certificates/site_cert.pem
/teraserver/python/certificates/site_key.pem
/teraserver/python/uploads
protobuf
/teraserver/python/OpenTeraServerVersion.py
/teraserver/python/services/FileTransferService/upload
files
build-teraserver-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug
/teraserver/easyrtc/package-lock.json
venv
joss-paper/paper.jats
joss-paper/paper.pdf
/.vscode
python-3.11
build-teraserver-Desktop_Qt_6_6_1_MSVC2019_64bit-Debug
python-3.10
