[BASIC]
# Allow CamelCase and snake case
module-naming-style = any

[FORMAT]
# Set line long enough for modern editors
max-line-length=160

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111,  # missing-docstring
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring


