@charset "utf-8";

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: #2c3338;
  color: white;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

after {
    clear: both;
}

button {
  background: #b5cd60;
  border: 0;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
button:hover {
  background: #16aa56;
}

.easyrtcMirror {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

video {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  //-o-object-fit: cover;
  //  object-fit: cover;
  -o-object-fit: contain;
    object-fit: contain;
  //-o-object-fit: fill;
  //   object-fit: fill;
  -o-object-position: top center;
     object-position: top center;
    background-color: black;
}

.img-logo{
    max-width: 160px;
    max-height: 20%;
    padding-right: 30px;
}

.iframe-with-footer{
    height: calc(100% - 50px - 65px);
}

.iframe-without-footer{
    height: calc(100% - 50px);
}