html,body {
	height: 100%;
	overflow: hidden;
}

.h-20 {
	height: 20%;
}

.h-33 {
	height: 33%;
}

.h-40 {
	height: 40%;
}

.h-67 {
	height: 67%;
}

.h-80 {
	height: 80%;
}

.videoView{
	border-width: 1px;
	border-color: darkslategray;
	border-style: dashed;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*  -o-object-fit: cover;
        object-fit: cover;*/
	-o-object-fit: contain;
	object-fit: contain;
	/*  -o-object-fit: fill;
        object-fit: fill;*/
	-o-object-position: top center;
	object-position: top center;
	background-color: black;
}

.badge{
	z-index: 2;
	position: relative;
}

.modal-header{
	background-color: #263972;
	color: white;
}

.modal-body{
	background-color: #626568;
	color: white;
}

.modal-footer{
	background-color: lightblue;
}

.modal-header-error{
	background-color: #ab0909;
	color: white;
}

.modal-body-error{
	background-color: white;
	color: black;
}

.modal-footer-error{
	background-color: #ab0909;
}

.overlay-top-left {
	position: relative;
	/*width: 100%;
	max-height: 48px;
	height: 10%;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);*/
	display: inline;
	float: left;
	z-index: 3;
}

.overlay-top-right {
	position: relative;
	/*width: 10%;
	max-width:48px;
	left: -40px;
	max-height: 24px;
	top:24px;
	background-color: rgba(0,0,0,0.5);
	padding-right: 20px;
	*/
	margin-top: 10px;
	height: 100%;
	float: right;
	z-index: 3;
}

.overlay-left {
	position: absolute;
	width: 10%;
	height: 95%;
	max-width: 32px;
	padding: 5px;
	background-color: rgba(100,100,100,0.4);
	float: left;
	z-index: 3;
}

.overlay-bottom-right {

	position: absolute;
	height: 100%;
	max-height: 64px;
	bottom: 0;
	right: 0;
	margin-right: 10px;
	/*background-color: rgba(0,0,0,0.5);
	padding-right: 20px;
	width: 64px;
	 */
	float: right;
	z-index: 3;

}

.overlay-top-center {
	position: relative;
	margin: auto;
	text-align: center;
	z-index: 3;
}

.tool-icon{
	padding: 10px;
	text-align: center;
}

.chrono{
	background-color: rgba(100,100,100,0.75);
	color: white;
	font-size: 1.5vw;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.chrono-large{
	background-color: rgba(100,100,100,0.75);
	color: white;
	font-size: 3vw;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}


.overlay {
	height: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
	overflow-x: hidden;
	display: block;
	/*transition: height 0.5s;*/
}





.overlay-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 10%;
	max-width: 48px;
	height: 95%;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	transform: translate(0%, 50%);
}



.overlay-middle-left {
	position: relative;
	height: 100px;
	width: 50px;
	padding: 5px;
	background-color: rgba(0,0,0,0);
	float: left;
	margin-left:10px;
	top: 50%;
}



.overlay-bottom-center {
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translate(-50%, 0%);
	margin: auto;
	/*background-color: rgba(0,0,0,0.5);
    height: 48px;*/
	width: 100%;
	text-align: center;
	z-index: 3;
}


.overlay-bottom-left {
	position: absolute;
	bottom: 0;
	height: 10%;
	max-height: 48px;
	width: 100%;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	margin-left:10px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	/*transition: 0.3s;*/
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

.videoMirror {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}