<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/images/favicon.ico" rel="icon" type="image/x-icon" />
     <link href="./static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
     <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="./static/css/main_style.css" />
     <link rel="stylesheet" href="./static/css/survey_style.css" />

    <script src="./static/js/opentera.js"></script>
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>

    <title>OpenTera - Confirmation de rendez-vous</title>
</head>
<body>
<div class="container fluid align-items-center">
      <h3 class="pt-3 pb-2 text-center">Merci {{info.participant_name}}</h3>
        <div class="card bg-dark  mx-auto">
            <div class="card-header bg-light text-dark"><h4>Confirmation de rendez-vous</h4></div>
            <div class="card-block ">
                <label class="font-weight-bold h5">Votre rendez-vous avec un professionel a été confirmé:</label>
                <br /><label class="font-weight-bold h6 text-warning">Une confirmation a aussi été envoyée par courriel ({{info.participant_email}}) </label><br/>
                <label class="h5">Heure:</label><label class="font-weight-bold text-success h5">15h00</label><br/>
                <label class="h5">Pour vous connecter:</label>
                <label class="font-weight-bold text-primary h5"><a href="{{participant_url}}">Cliquez sur ce lien</a></label>
            </div>
        </div>
</div>

{% include "footer.html" %}

</body>
</html>