<!DOCTYPE html>
<html>
   <head>
      <script src="./static/js/opentera.js"></script>
      <script src="./static/js/jquery-3.3.1.min.js"></script>
   </head>
   <body >
      <h1>Bonjour enregistrez vos coordonnées.</h1>

      <div class="container">
      <form action="." method="post" id="user_info">
         <label for="uname"><b>Nom</b></label>
         <input type="text" name="name" id="name" placeholder="Nom complet" oninput="validateInput('#name');" />
         <label for="uname"><b>Courriel</b></label>
         <input type="text" name="email" id="email" placeholder="Courriel" oninput="validateInput('#email');" />
         <input type="submit" value="Envoyer" onclick=";"/>
      </form>
      <div id="messages" style="display:none;">
         <label id="txtmessage">Prêt à se connecter!</label>
     </div>


    </div>

   </body>
</html>

