<!DOCTYPE html>
<html>
   <head>
         <link href="./static/images/favicon.ico" rel="icon" type="image/x-icon" />
         <link href="./static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
         <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
         <link rel="stylesheet" href="./static/css/main_style.css" />
         <link rel="stylesheet" href="./static/css/survey_style.css" />

        <script src="./static/js/opentera.js"></script>
        <script src="./static/js/jquery-3.3.1.min.js"></script>
        <script src="./static/bootstrap/js/bootstrap.min.js"></script>

        <title>OpenTera - Teleconsultation</title>
   </head>
   <body style="margin-bottom:100px;">
   <div class="container fluid align-items-center">
       {% if not survey_ok %}
      <h3 class="pt-3 pb-2 text-center">Please complete this questionnaire to help us better meet your needs.</h3>
      <form action="." method="post" id="test_info">
        <div class="card bg-dark  mx-auto">
            <div class="card-header bg-light text-dark"><h4>Personal Information</h4></div>
            <div class="card-block ">
                <label class="font-weight-bold h5">What is your age group?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" name="age-0"/>0-12 years old
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" name="age-1"/>13-69 years old
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" name="age-2"/>70+ years old
                    </label>
                </div>
                <br />
                <br />
                <label class="font-weight-bold h5">What is your gender?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" name="sexe-0"/> Male
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" name="sexe-1"/> Female
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" name="sexe-2"/> Other
                    </label>
                </div>


                <br />
                <br />
            </div>
        </div>
      <div class="card bg-dark mx-auto">
            <div class="card-header bg-light text-dark"><h4>Health Information</h4></div>
            <div class="card-block ">
                <label class="font-weight-bold h5">Do you have a fever?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />Yes
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />No
                    </label>
                </div>
                <br />
                <br />
                <label class="font-weight-bold h5">Are you coughing?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />Yes
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />No
                    </label>
                </div>
                <br />
                <br />
                <label class="font-weight-bold h5">Do you feel more out of breath than usual when doing your activities?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />Yes
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />No
                    </label>
                </div>
                <br />
                <br />
                <label class="font-weight-bold h5">Do you have unusual fatigue that prevents you from functioning normally?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />Yes
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />No
                    </label>
                </div>
                <br />
                <br />
                <label class="font-weight-bold h5">Are you a healthcare professional or do you work in a healthcare facility?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />Yes
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />No
                    </label>
                </div>
                <br />
                <br />
                 <label class="font-weight-bold h5">Is there a case confirmed by a laboratory test in your entourage (family or person living under the same roof, co-worker)?</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />Yes
                    </label>
                    <label class="btn btn-secondary radio-button">
                        <input type="radio" autocomplete="off" />No
                    </label>
                </div>
            </div>
        </div>
          <br/>
          <input name="user-test-form" type="submit" value="Send" onclick=";" class="btn btn-primary mx-auto w-100"/>
      </form>
       {% else %}
       <h3 class="pt-3 pb-2 text-center">Teleconsultation Required</h3>
       <h5>According to the information provided, you are eligible for a tele-consultation!</h5>
       <div class="card bg-dark mx-auto">
            <div class="card-header bg-light text-dark"><h4>Contact Information</h4></div>
            <div class="card-block pt-3">
                <form action="." method="post" id="user_info">
                 <label for="uname"><b>Nom</b></label><br/>
                 <input type="text" name="name" id="name" placeholder="Name" oninput="validateInput('#name');" class="w-100"/><br/><br/>
                 <label for="uname"><b>Courriel</b></label><br/>
                    <input type="text" name="email" id="email" placeholder="Email" oninput="validateInput('#email');" class="w-100"/><br/><br/>
                 <input name="user-infos-form" type="submit" value="Schedule an appointment" onclick=";" class="btn btn-primary mx-auto w-100"/>
              </form>
            </div>
       </div>


       {% endif %}
    </div>

   {% include "footer.html" %}

   </body>
</html>

