<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>OpenTera - VideoDispatch - Connexion</title>
        <link href="./static/images/favicon.ico" rel="icon" type="image/x-icon" />
        <link href="./static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="./static/css/fontawesome.min.css" rel="stylesheet" />
		<link href="./static/css/solid.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./static/css/main_style.css" />
        <link rel="stylesheet" href="./static/css/login_style.css" />

         <script src="./static/js/opentera.js"></script>
         <script src="./static/js/login.js"></script>
        <script src="./static/bootstrap/js/bootstrap.min.js"></script>
         <script src="./static/js/jquery-3.3.1.min.js"></script>
    </head>
    <body onload="">
      <!--<div class="container">
      Hostname : {{ hostname }} <br>
      Port : {{ port }} <br>
      Backend Hostname : {{ backend_hostname }} <br>
      Backend Port : {{ backend_port }} <br>
      </div>-->

		<center><img src="./static/images/teraplus.png" width="320px" /></center>
      <center>Service: Video Dispatcher</center>
		<div id="login">
			<form action="/login" method="post" id="loginform">
				<span class="fas fa-user"></span>
                                <input type="text" name="name" id="name" placeholder="Utilisateur" oninput="validateInput('#name');" />

				<span class="fas fa-lock"></span>
                                <input type="password" name="password" id="password" placeholder="Mot de passe" oninput="validateInput('#password');" />
                                <input type="submit" value="Connexion" onclick="doLogin('{{ backend_hostname }}', {{ backend_port }});return false;"/>

			</form>
		</div>

		<div id="messages" style="display:none;">
			<center><label id="txtmessage">Prêt à se connecter!</label></center>
		</div>

    {% include "footer.html" %}
    </body>
</html>

