<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <title>OpenTera - VideoDispatch - Central - </title>

      <script src="./static/js/opentera.js"></script>
      <script src="./static/js/jquery-3.3.1.min.js"></script>
       <script src="./static/bootstrap/js/bootstrap.min.js"></script>
       <script src="./static/js/opentera_dashboard.js"></script>

       <link href="./static/css/fontawesome.min.css" rel="stylesheet" />
      <link href="./static/css/solid.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
      <!--<link rel="stylesheet" href="./static/css/main_style.css" />-->

   </head>
   <body onload = "init_dashboard('{{ backend_hostname }}', {{ backend_port }});startStatusUpdates();" style="background-color: black;">
   <div class="container-fluid">
	<!--<div class="row">
        <div class="col-3">Site:</div>
        <div class="col-3"><select id="cmbSites"></select></div>
        <div class="col-3">Projet:</div>
        <div class="col-3"><select id="cmbProjects"></select></div>
    </div>-->
       <center>
       <div class="row w-50 align-items-center">
           <div class="card bg-primary mt-3 text-white text-center col-3 mr-2">
               <label id="lblOnlineCount">0</label> participant(s) waiting.
           </div>

           <div class="card bg-warning mt-3 text-black text-center col-3 mr-2">
               <label id="lblInSessionCount">0</label> participant(s) in session.
           </div>
           <div class="card bg-success mt-3 text-white text-center col-3">
               <label id="lblDoneCount">0</label> participant(s) processed.
           </div>
       </div>

       <div class="card mt-3 align-items-center" style="background-color: black;">
           <button id="btnConnect" onclick="connectToNextParticipant();" class="bg-info w-75" style="height: 60px;" disabled>Take next call</button>

       </div>
       </center>

       <div class="modal" tabindex="-1" role="dialog" id="dialogWait" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Connecting...</h5>
              </div>
              <div class="modal-body">
                <p>You will be connected with <label id="lblParticipantName"> ??? </label>.</p>
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>
       <!--<div class="col-4">
           Dernières personnes vues<br/>

       </div>-->

       </div>
    </body>
</html>

