<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <title>OpenTera - VideoDispatch - Centrale - </title>

      <script src="./static/js/opentera.js"></script>
      <script src="./static/js/jquery-3.3.1.min.js"></script>
       <script src="./static/bootstrap/js/bootstrap.min.js"></script>
       <script src="./static/js/opentera_dashboard.js"></script>

       <link href="./static/css/fontawesome.min.css" rel="stylesheet" />
      <link href="./static/css/solid.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
      <!--<link rel="stylesheet" href="./static/css/main_style.css" />-->

   </head>
   <body onload = "" style="background-color: black;">
   <div class="container-fluid">
	<!--<div class="row">
        <div class="col-3">Site:</div>
        <div class="col-3"><select id="cmbSites"></select></div>
        <div class="col-3">Projet:</div>
        <div class="col-3"><select id="cmbProjects"></select></div>
    </div>-->

       <div class="card bg-secondary mt-3 text-white text-center">
           Il y a 5 personnes en attente.<br/>
       </div>
       <div class="card mt-3">
           <button id="btnConnect" onclick="connectToNextParticipant('{{ backend_hostname }}', {{ backend_port }});" class="bg-primary" style="height: 60px;">Prendre le prochain appel</button>

       </div>
       <!--<div class="col-4">
           Dernières personnes vues<br/>

       </div>-->

       </div>
    </body>
</html>

