<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="./static/images/favicon.ico" rel="icon" type="image/x-icon" />
     <link href="./static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
     <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="./static/css/main_style.css" />
     <link rel="stylesheet" href="./static/css/survey_style.css" />

    <script src="./static/js/opentera.js"></script>
    <script src="./static/js/login.js"></script>
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>

    <title>OpenTera - Thank You!</title>
</head>
<body onload="sessionStorage.clear();
    deleteCookie('VideoDispatchToken');
    deleteCookie('VideoDispatchTokenParticipant');">
<div class="container fluid align-items-center">
      <h3 class="pt-3 pb-2 text-center">Thank You {{participant_name}}!</h3>
        <label class="h5 text-center">We hope you liked you are satisfied with your experience.</label>
</div>

{% include "footer.html" %}

</body>
</html>