twisted
treq
cryptography
autobahn
sqlalchemy
sqlalchemy_schemadisplay
pydot
psycopg2-binary
python-oauth2
flask
flask-sqlalchemy
flask-login
flask-login-multi
flask-httpauth
flask-socketio
flask-session
flask-restx
flask-security
flask-babel
flask-migrate
flask-swagger-ui
# flask-jwt
redis
txredisapi
passlib
bcrypt
wtforms
PyInstaller
pyopenssl
service_identity
# jwt
PyJWT
pypiwin32; sys_platform == 'win32'
pylzma
bz2file
python-slugify
websocket_client
pytest
jsonschema
