QWidget#MainWindow{background-image: url(://TeRA_Background.png); }
QWidget#ConfigWidget{background-image: url(://TeRA_Background.png); }
QWidget#SessionWidget{background-image: url(://TeRA_Background.png); }

QWidget{background-color: rgba(255,0,0, 10%);color:white;border-radius:5px;}
