<footer id="logos" class="page-footer font-small blue fixed-bottom bg-light" style="max-height: 65px;">

  <div class="container">
    <a href="https://www.telereadaptation.com" target="_blank"><img src="./static/images/logos/Estrad.png" class="img-fluid img-logo" /></a>
    <a href="https://introlab.3it.usherbrooke.ca" target="_blank"><img src="./static/images/logos/IntRoLab.png" class="img-fluid img-logo" /></a>
    <a href="https://regroupementinter.com" target="_blank"><img src="./static/images/logos/INTER.png" class="img-fluid img-logo d-none d-lg-inline" /></a>
    <a href="https://agewell-nce.ca" target="_blank"><img src="./static/images/logos/AgeWell.png" class="img-fluid img-logo d-none d-lg-inline" /></a>
    <a href="https://www.usherbrooke.ca/3it" target="_blank"><img src="./static/images/logos/3IT.png" class="img-fluid img-logo" /></a>
    <a href="https://www.cdrv.ca" target="_blank"><img src="./static/images/logos/logo_CDRV.png" class="img-fluid img-logo" /></a>
  <!--<div class="footer-copyright text-center py-3">© 2020 Copyright  </div>-->
  </div>


</footer>