<!DOCTYPE html>
<html>
   <head>
		<script src="assets/js/protobuf/protobuf.js"></script>
		<script type="text/javascript">

            function httpGet(theUrl)
			{
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
				xmlHttp.send( null );
				return xmlHttp.responseText;
			}

			var sock = null;
			var ellog = null;
			window.onload = function() {
				ellog = document.getElementById('log');
				var wsuri;

				if (window.location.protocol === "file:") {
				   wsuri = httpGet("https://127.0.0.1:4040/api/user/login")
				} else {
				   wsuri = httpGet("https://" + window.location.hostname + ":4040/api/user/login")
				}

				wsuri = JSON.parse(wsuri)['websocket_url']

				if ("WebSocket" in window) {
				   sock = new WebSocket(wsuri);
				} else if ("MozWebSocket" in window) {
				   sock = new MozWebSocket(wsuri);
				} else {
				   log("Browser does not support WebSocket!");
				}
				if (sock) {
				   sock.onopen = function() {
					  log("Connected to " + wsuri);
				   }
				   sock.onclose = function(e) {
					  log("Connection closed (wasClean = " + e.wasClean + ", code = " + e.code + ", reason = '" + e.reason + "')");
					  sock = null;
				   }
				   sock.onmessage = function(e) {
					  log("Got echo: " + e.data);
				   }
				}
			 };
			 function send() {
				//var msg = "Test"; //document.getElementById('message').value;
				protobuf.load("assets/js/protobuf/messages/ServerCommand.proto", function(err, root){
					if (err)
						throw err;
					
					//console.log(root);
					
					// Build server command message
					var ServerCommand = root.lookupType("opentera.protobuf.ServerCommand");
					var values = {type: ServerCommand.CommandType.REGISTER_DEVICE};
					var sc_msg = ServerCommand.create(values);
					
					// Build TeraMessage
					protobuf.load("assets/js/protobuf/messages/TeraMessage.proto", function(err, root){
						if (err)
							throw err;
							
						var TeraMessage = root.lookupType("opentera.protobuf.TeraMessage");
						var header_values = {time: (new Date()).getTime()};
						var values = {head: header_values, data: {type: "opentera.protobuf.ServerCommand"}};
						var msg = TeraMessage.create(values);						
						var msg_bytes = TeraMessage.encode(msg).finish();
					
						console.log(msg_bytes);
						if (sock) {
							sock.send(msg_bytes);
							log("Sent: " + msg.toJSON());
						} else {
							log("Not connected.");
						}
						
					});
				});
			 };
			 function log(m) {
				ellog.innerHTML += m + '\n';
				ellog.scrollTop = ellog.scrollHeight;
			 };
		</script>
   </head>
   <body>
      <h1>OpenTera Device Registration</h1>
      <noscript>You must enable JavaScript</noscript>
      <button onclick='send();'>Add a device</button>
      <pre id="log" style="height: 20em; overflow-y: scroll; background-color: #eeeeee;"></pre>
   </body>
</html>

