<footer class="page-footer font-small blue bg-light">

  <div class="container text-center">
    <a href="https://www.telereadaptation.com" target="_blank"><img src="./static/img/logos/Estrad.png" class="img-fluid img-logo" /></a>
    <a href="https://introlab.3it.usherbrooke.ca" target="_blank"><img src="./static/img/logos/IntRoLab.png" class="img-fluid img-logo" /></a>
    <a href="https://regroupementinter.com" target="_blank"><img src="./static/img/logos/INTER.png" class="img-fluid img-logo" /></a>
    <a href="https://agewell-nce.ca" target="_blank"><img src="./static/img/logos/AgeWell.png" class="img-fluid img-logo" /></a>
    <a href="https://www.usherbrooke.ca/3it" target="_blank"><img src="./static/img/logos/3IT.png" class="img-fluid img-logo" /></a>
    <a href="https://www.cdrv.ca" target="_blank"><img src="./static/img/logos/logo_CDRV.png" class="img-fluid img-logo" /></a>
  <!--<div class="footer-copyright text-center py-3">© 2020 Copyright  </div>-->
  </div>


</footer>