<!DOCTYPE html>
<html>
   <head>
      <script type="text/javascript">

         function getCookie(cname) {
           var name = cname + "=";
           var decodedCookie = decodeURIComponent(document.cookie);
           var ca = decodedCookie.split(';');
           for(var i = 0; i <ca.length; i++) {
             var c = ca[i];
             while (c.charAt(0) == ' ') {
               c = c.substring(1);
             }
             if (c.indexOf(name) == 0) {
               return c.substring(name.length, c.length);
             }
           }
           return "";
         }

         function httpGet(theUrl)
         {
               var xmlHttp = new XMLHttpRequest();
               xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
               xmlHttp.send( null );
               return xmlHttp.responseText;
         }


         var sock = null;
         var ellog = null;
         window.onload = function() {
            ellog = document.getElementById('log');
            var wsuri;

            if (window.location.protocol === "file:") {
               wsuri = httpGet("https://127.0.0.1:4040/api/user/login")
            } else {
               wsuri = httpGet("https://" + window.location.hostname + ":4040/api/user/login")
            }

            wsuri = JSON.parse(wsuri)['websocket_url']

            if ("WebSocket" in window) {
               sock = new WebSocket(wsuri);
            } else if ("MozWebSocket" in window) {
               sock = new MozWebSocket(wsuri);
            } else {
               log("Browser does not support WebSocket!");
            }
            if (sock) {
               sock.onopen = function() {
                  log("Connected to " + wsuri);
               }
               sock.onclose = function(e) {
                  log("Connection closed (wasClean = " + e.wasClean + ", code = " + e.code + ", reason = '" + e.reason + "')");
                  sock = null;
               }
               sock.onmessage = function(e) {
                  log("Got echo: " + e.data);
               }
            }
         };
         function send() {
            var msg = document.getElementById('message').value;
            if (sock) {
               sock.send(msg);
               log("Sent: " + msg);
            } else {
               log("Not connected.");
            }
         };
         function log(m) {
            ellog.innerHTML += m + '\n';
            ellog.scrollTop = ellog.scrollHeight;
         };
      </script>
   </head>
   <body>
      <h1>OpenTera WebSocket Test</h1>
      <noscript>You must enable JavaScript</noscript>
      <form>
         <p>Message: <input id="message" type="text" size="50" maxlength="50" value="Hello, world!"></p>
      </form>
      <button onclick='send();'>Send Message</button>
      <pre id="log" style="height: 20em; overflow-y: scroll; background-color: #faa;"></pre>
   </body>
</html>

