<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenTera Login Page</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/login_style.css" />

    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script type="text/javascript">
        var qtObject = undefined;
        if (typeof QWebChannel !== "undefined"){
            new QWebChannel(qt.webChannelTransport, function(channel) {
                qtObject = channel.objects.qtObject;
            });
        };
    </script>

    <!-- call function when document is loaded -->
    <script>
        let redirectTimerId = undefined;
        let timeoutSeconds = 0;

        function resetValidationTimeout(){
            if (redirectTimerId)
                clearTimeout(redirectTimerId);
            redirectTimerId = setTimeout(redirectToLogin.bind(null, "{{ gettext('Code validation timeout. Redirecting to login.') }}"), 60000*5);
            timeoutSeconds = 300;
            updateTimeLeft();
        }

        function redirectToLogin(msg){
            $('#redirectMsg').text(msg);
            $('#dlgRedirect').removeClass("d-none").addClass("d-flex");
            setTimeout(function() {
                if (qtObject)
                    qtObject.sendRedirectToLogin();
                else
                    window.location.href = '/login';
             }, 5000);
        }

        function updateTimeLeft(){
            let time_left = new Date(timeoutSeconds * 1000).toISOString().substr(14, 5);
            $('#timeLeft').text(time_left);
            if (timeoutSeconds-1 >= 0)
                timeoutSeconds--;
        }

        $(document).ready(function() {
            //qtObject.debugPrint("Document is ready");
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('code')){
                post_form_data_and_validate_login(urlParams.get('code'));
            }
            resetValidationTimeout();
            setInterval(updateTimeLeft, 1000);

            $("#2fa_code").keypress(function(event){
                if (event.key === "Enter") {
                    event.preventDefault();
                    $("#btnValidate").click();
                }

            });

        });

        $(document).ajaxSend(function(event, request, settings) {
            $('#loading').removeClass("d-none").addClass("d-flex");
        });

        $(document).ajaxComplete(function(event, request, settings) {
            resetValidationTimeout();
            $('#loading').removeClass("d-flex").addClass("d-none");
        });

        let attempt = 0;

        function post_form_data_and_validate_login(otp_code) {
            /*if (qtObject)
                qtObject.debugPrint("2FA code validation");*/

            // Send the OTP code to the backend with a post request
            // Use the login API for this purpose
            $.ajax({
                type: "POST",
                url: "/api/user/login/2fa",
                data: {
                    otp_code: otp_code,
                    with_websocket: true
                },
                success: function(data, textStatus, jqXHR) {
                    $('#error_message').hide();
                    $('#auth_form').hide();
                    $('#ok_message').show();
                    if(qtObject)
                        qtObject.debugPrint("2FA code validation, success called");
                    if (jqXHR.status === 200) {

                        // If the status is 200, the 2FA code is valid
                        // Send the token to the Qt application
                        // Answer will contain,user_uuid, user_token, websocket_url
                        if (qtObject)
                            qtObject.sendLoginSuccess(data.user_token, data.websocket_url, data.user_uuid);

                    }
                },
                error: function() {
                    attempt++;
                    if (attempt >= 5){
                        redirectToLogin("{{ gettext('Too many attempts - returning to login') }}");
                        return;
                    }
                    let msg = "{{ gettext('Invalid code') }}" + " - " + (5-attempt).toString() + " " + "{{ gettext('attempts left') }}";
                    $('#error_message').text(msg);
                    $('#error_message').show();
                    if (qtObject)
                        qtObject.sendLoginFailure("Error validating 2FA code");
                }
            });
        }
    </script>

</head>
<body>
    <!-- Create a form to enter the 2FA code -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div id="dlgRedirect" class="h-100 w-100 d-none align-items-center z-1 bg-black position-absolute">
                        <div id="redirectMsg" class="w-100 text-center text-warning "></div>
                    </div>
                    <div id="loading" class="h-100 w-100 z-1 bg-black position-absolute opacity-75 d-none">
                        <img src="./static/img/loading.gif" class="m-auto">
                    </div>
                    <div class="card-header d-flex">
                        <div>{{ gettext('Multi Factor Authentication') }}</div>
                        <div id="timeLeft" class="ms-auto">5:00</div>
                    </div>
                    <div class="card-body">

                        <div class="form-group row" id="auth_form">
                            <label for="2fa_code" class="col-6 col-form-label text-md-right">
                                {{ gettext('Authentication code') }}
                            </label>
                            <div class="col-3">
                                <input type="text" inputmode="numeric" id="2fa_code" pattern="\d\d\d\d\d\d"
                                       name="2fa_code" maxlength="6" class="form-control text-center" required autofocus>
                            </div>

                            <!-- Validation button -->
                            <div class="col-3">
                                <button type="button" id="btnValidate" class="btn btn-primary w-100"
                                        onclick="post_form_data_and_validate_login(document.getElementById('2fa_code').value)">
                                    {{ gettext('Validate') }}
                                </button>
                            </div>
                        </div>
                        <div class="row ms-3 me-3 mt-2">
                            <div class="text-danger p-1 m-0 text-center fw-bold" id="error_message" role="alert" style="display: none;"></div>
                        </div>
                        <div class="row ms-3 me-3 mt-2">
                            <div class="text-success p-1 m-0 text-center fw-bold" id="ok_message" role="alert" style="display: none;">
                                {{ gettext('Successfully authenticated') }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>