<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ gettext("OpenTera - Forgot Password") }}</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/{{theme_file}}.css" />

    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/js/login_functions.js"></script>
</head>
<body>
<script>
    $(document).ajaxSend(function(event, request, settings) {
            $('#loading').removeClass("d-none").addClass("d-flex");
    });

    $(document).ajaxComplete(function(event, request, settings) {
        $('#loading').removeClass("d-flex").addClass("d-none");
    });

    $(document).ready(function() {
        $('#password_reset_form').submit(function(event) {
            $('#error_message').hide();
            // Prevent the default form submission
            event.preventDefault();

            let form = $(this);
            // Send the form data to the backend with a post request
            $.ajax({
                type: "POST",
                url: 'api/user/login/forgot_password',
                data: form.serialize(),
                success: function(response) {
                    $('#password_reset_body').addClass("d-none");
                    $('#password_code_body').removeClass("d-none");
                    $('#reset_code').trigger("focus");
                },
                error: function(response) {
                    if (response.status === 429) // Rate limited
                        $('#error_message')[0].innerHTML = "{{ gettext('Too many requests. Try again later.') }}";
                    else
                        $('#error_message')[0].innerHTML = response.responseText.substring(1, response.responseText.length-2);
                    //$('#error_message').text(response.responseJSON);
                    $('#error_message').show();
                }
            });
        });
        $('#password_code_form').submit(function(event) {
            $('#error_message').hide();
            // Prevent the default form submission
            event.preventDefault();

            let form = $(this);
            console.log(form.serialize());
            $.ajax({
                type: "PUT",
                url: 'api/user/login/forgot_password',
                data: form.serialize(),
                success: function(response) {
                    login_redirect("/login_change_password");
                },
                error: function(response) {
                    if (response.status === 429) // Rate limited
                        $('#error_message')[0].innerHTML = "{{ gettext('Too many requests. Try again later.') }}";
                    else if (response.status === 401) // Bad code
                        $('#error_message')[0].innerHTML = "{{ gettext('Invalid code.') }}";
                    else
                        $('#error_message')[0].innerHTML = response.responseText.substring(1, response.responseText.length-2);
                    //$('#error_message').text(response.responseJSON);
                    $('#error_message').show();
                }
            });
        });
    });

</script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <!--<div id="dlgRedirect" class="h-100 w-100 d-none align-items-center z-1 bg-black position-absolute">
                    <div id="redirectMsg" class="w-100 text-center text-success fw-bold">
                        {{ gettext('Password successfully changed!') }}<br>
                        {{ gettext('Redirecting to login screen...') }}
                    </div>
                </div>-->
                <div id="loading" class="h-100 w-100 z-1 bg-black position-absolute opacity-75 d-none">
                    <img src="./static/img/loading.gif" class="m-auto">
                </div>
                <div class="card-header d-flex flex-row justify-content-between">
                    <div>{{ gettext('Reset password request') }}</div>
                </div>
                <div id="password_reset_body" class="card-body pb-0">
                    <form method="post" id="password_reset_form">
                        <div class="form-group row">
                            <label for="requested_user" class="col-md-4 col-form-label text-md-right">{{ gettext('Username / email address') }}</label>
                            <div class="col-md-6">
                                <input type="text" id="requested_user" class="form-control" name="requested_user" required autofocus>
                            </div>
                        </div>
                        <div class="row mt-3 mt-md-2">
                            <div class="col-12 col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary w-100">{{ gettext('Reset Password') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="password_code_body" class="card-body pb-0 d-none">
                    <form method="post" id="password_code_form">
                        <div class="row m-2 mt-0">
                            <div class="col-12 text-warning text-center">
                                {{ gettext('A code has been sent to your email address if the username / email was found.
                                Please enter that code to reset your password.') }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reset_code" class="col-1 gx-0 col-form-label text-end">{{ gettext('Code') }}</label>
                            <div class="col-4">
                                <input type="text" id="reset_code" class="form-control text-center" name="reset_code" inputmode="numeric" required autofocus>
                            </div>
                            <div class="col-4 gx-0">
                                <button type="submit" class="btn btn-success w-100">{{ gettext('Verify') }}</button>
                            </div>
                            <div class="col-3 gx-3">
                                <button class="btn btn-danger w-100" onclick="history.back();">{{ gettext('Cancel') }}</button>
                            </div>
                        </div>
                        </form>
                </div>
                <div class="row ms-0 me-3 mt-2 bg-black">
                    <div class="text-danger p-1 m-0 text-center fw-bold" id="error_message" role="alert" style="display: none;"></div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>