<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gettext("OpenTera - Change Password") }}</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/login_style.css" />

    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/js/login_functions.js"></script>
    <script type="text/javascript">
        setEndpointUrl("{{ endpoint_url }}");
    </script>
</head>
<body>
<script>
    let timeoutSeconds = 300;

    function updateTimeLeft(){
        let time_left = new Date(timeoutSeconds * 1000).toISOString().substr(14, 5);
        $('#timeLeft').text(time_left);
        if (timeoutSeconds-1 >= 0)
            timeoutSeconds--;
        else{
            redirectToLogin();
        }
    }

    $(document).ajaxSend(function(event, request, settings) {
            $('#loading').removeClass("d-none").addClass("d-flex");
        });

    $(document).ajaxComplete(function(event, request, settings) {
        $('#loading').removeClass("d-flex").addClass("d-none");
        timeoutSeconds = 300;
        updateTimeLeft();
    });

    $(document).ready(function() {
        setInterval(updateTimeLeft, 1000);
        updateTimeLeft();

        // Handle form submission
        $('#password_change_form').submit(function(event) {
             $('#error_message').hide();
            // Prevent the default form submission
            event.preventDefault();

            var form = $(this);

            // Send the form data to the backend with a post request
            $.ajax({
                type: "POST",
                url: 'api/user/login/change_password',
                data: form.serialize(),
                success: function(response) {
                    $('#dlgRedirect').removeClass("d-none").addClass("d-flex");
                    setTimeout(redirectToLogin, 3000);
                },
                error: function(response) {
                    if (response.status === 401)
                        redirectToLogin();
                    $('#error_message')[0].innerHTML = response.responseText.substring(1, response.responseText.length-2);
                    //$('#error_message').text(response.responseJSON);
                    $('#error_message').show();
                }
            });
        });
    });

</script>
 <!-- Create a login form using bootstrap -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div id="dlgRedirect" class="h-100 w-100 d-none align-items-center z-1 bg-black position-absolute">
                        <div id="redirectMsg" class="w-100 text-center text-success fw-bold">
                            {{ gettext('Password successfully changed!') }}<br>
                            {{ gettext('Redirecting to login screen...') }}
                        </div>
                    </div>
                    <div id="loading" class="h-100 w-100 z-1 bg-black position-absolute opacity-75 d-none">
                        <img src="./static/img/loading.gif" class="m-auto">
                    </div>
                    <div class="card-header d-flex flex-row justify-content-between">
                        <div>{{ gettext('Password change required') }} - {{ username }}</div>
                        <div id="timeLeft" class="">5:00</div>
                    </div>
                    <div class="card-body">
                        <form method="post" id="password_change_form">
                            <div class="form-group row">
                                <label for="new_password" class="col-md-4 col-form-label text-md-right">{{ gettext('New Password') }}</label>
                                <div class="col-md-6">
                                    <input type="password" id="new_password" class="form-control" name="new_password" required autofocus>
                                </div>

                                <label for="confirm_password" class="mt-2 col-md-4 col-form-label text-md-right">{{ gettext('Confirm Password') }}</label>
                                <div class="col-md-6 mt-2 ">
                                    <input type="password" id="confirm_password" class="form-control" name="confirm_password" required>
                                </div>
                            </div>
                            <div class="row mt-3 mt-md-2">
                                <div class="col-12 col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary w-100">{{ gettext('Change Password') }}</button>
                                </div>
                            </div>
                            <div class="row ms-0 me-3 mt-2">
                                <div class="text-danger p-1 m-0 text-center fw-bold" id="error_message" role="alert" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
