<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenTera Setup 2FA</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/main_style.css" />
    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Create a form to enable 2FA, will display QR Code to setup Authenticator App -->

    <!-- First ask the user if they want to enable 2FA -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Enable 2FA</div>
                    <div class="card-body">
                        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
                        <form action="/login_enable_2fa" method="post">
                            <div class="form-group  row">
                                <label for="enable_2fa" class="col-md-4 col-form-label text-md-right">Enable 2FA</label>
                                <div class="col-md-6">
                                    <input type="checkbox" id="enable_2fa" class="form-control" name="enable_2fa" required autofocus>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>