<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenTera Login Page</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/main_style.css" />
    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script type="text/javascript">
        var qtObject = undefined;
        if (typeof QWebChannel !== "undefined"){
            new QWebChannel(qt.webChannelTransport, function(channel) {
                qtObject = channel.objects.qtObject;
            });
        };
    </script>

    <!-- call function when document is loaded -->
    <script>
        $(document).ready(function() {
            //qtObject.debugPrint("Document is ready");
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('code')){
                document.getElementById("2fa_code").value = urlParams.get('code');
                post_form_data_and_validate_login();
            }
        });
    </script>

    <script>
        function post_form_data_and_validate_login() {
            const otp_code = document.getElementById("2fa_code").value;
            if (qtObject)
                qtObject.debugPrint("2FA code validation");

            // Send the OTP code to the backend with a post request
            // Use the login API for this purpose
            $.ajax({
                type: "POST",
                url: "/api/user/login_2fa",
                data: {
                    otp_code: otp_code,
                    with_websocket: true
                },
                success: function(data, textStatus, jqXHR) {
                    if(qtObject)
                        qtObject.debugPrint("2FA code validation, success called");
                    if (jqXHR.status === 200) {
                        // If the status is 200, the 2FA code is valid
                        // Send the token to the Qt application
                        // Answer will contain,user_uuid, user_token, websocket_url
                        if (qtObject)
                            qtObject.sendLoginSuccess(data.user_token, data.websocket_url, data.user_uuid);
                    } else {
                        alert("Error validating 2FA code");
                        if (qtObject)
                            qtObject.sendLoginFailure("Error validating 2FA code");
                    }
                },
                error: function() {
                    alert("Error validating 2FA code");
                    if (qtObject)
                        qtObject.sendLoginFailure("Error validating 2FA code");
                }
            });

        }

    </script>

</head>
<body>
    <!-- Create a form to enter the 2FA code -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">2FA</div>
                    <div class="card-body">

                        <!-- This should be enabled for web only logins -->
                        <!-- Form based, will post data to /login_validate_2fa
                        <form action="/login_validate_2fa" method="post">
                            <div class="form-group row">
                                <label for="2fa_code" class="col-md-4 col-form-label text-md-right">2FA Code</label>
                                <div class="col-md-6">
                                    <input type="text" id="2fa_code" class="form-control" name="2fa_code" required autofocus>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        -->

                        <!-- This should be enabled for desktop only login, users enter code and then we call
                             the post_form_data_and_validate_login with the validate button -->
                        <form id="login_form">
                            <div class="form-group
                            row">
                                <label for="2fa_code" class="col-md-4 col-form-label text-md-right">2FA Code</label>
                                <div class="col-md-6">
                                    <input type="text" id="2fa_code" class="form-control" name="2fa_code" required autofocus>
                                </div>

                                <!-- Validation button -->
                                <div class="col-md-6 offset-md-4">
                                    <button type="button" class="btn btn-primary" onclick="post_form_data_and_validate_login()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>