<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenTera Login Change Password</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/main_style.css" />
    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
 <!-- Create a login form using bootstrap -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Change password for user: {{ username }}</div>
                    <div class="card-body">
                        <form action="/login_change_password" method="post">
                            <div class="form-group
                            row">
                                <label for="old_password" class="col-md-4 col-form-label text-md-right"> Old Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="old_password" class="form-control" name="old_password" required autofocus>
                                </div>

                                <label for="new_password" class="col-md-4 col-form-label text-md-right"> New Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="new_password" class="form-control" name="new_password" required>
                                </div>

                                <label for="confirm_password" class="col-md-4 col-form-label text-md-right"> Confirm Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="confirm_password" class="form-control" name="confirm_password" required>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>