<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenTera Login Page</title>
    <link href="./static/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css/login_style.css" />
    <script src="./static/js/jquery-3.7.1.min.js"></script>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Handle form submission
            $('#loginForm').submit(function(event) {
                // Prevent the default form submission
                event.preventDefault();

                var form = $(this);
                var url = form.attr('action');
                var formData = form.serialize();

                // Send the form data to the backend with a post request
                // If the login is successful, if 2fa is enabled, the user will be redirected to the 2fa page
                // If the login is successful, the user will be redirected to the main page
                $.ajax({
                    type: "POST",
                    url: url,
                    data: formData,
                    success: function(response) {
                        console.log("Login success");
                        window.location.href = "/login_validate_2fa";
                    },
                    error: function(response) {
                        console.log("Login error", response);
                        $('#error_message').text(response.responseText);
                        $('#error_message').show();
                    }
                });
            });
            $("input").change(function(){
                $('#error_message').hide();
            });
        });

    </script>
</head>
<body>
    <!-- Create a login form using bootstrap -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-6">
                {% if show_logo %}
                <div class="w-100 d-flex">
                    <img src="./static/img/logos/LogoOpenTera.png" class="img-logo ms-auto me-auto">
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <form id="loginForm" action="/login" method="post">
                            <div class="form-group row">
                                <label for="username" class="col-4 col-form-label text-md-right">Username</label>
                                <div class="col-8 col-md-6">
                                    <input type="text" id="username" class="form-control" name="username" required autofocus>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label for="password" class="col-4 col-form-label text-md-right">Password</label>
                                <div class="col-8 col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4"></div>
                                <div class="col-8 col-md-6">
                                    <button type="submit" class="btn btn-primary w-100">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Error message placeholder -->
                    <div class="card-footer">
                        <div class="alert alert-danger" id="error_message" role="alert" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>