<!DOCTYPE html>
<html>
   <head>
      <script type="text/javascript">

         var fileList = null;

         function handleFiles(files) {
            fileList = files;
         };


         function FileUpload(file) {
              var reader = new FileReader();

              var xhr = new XMLHttpRequest();
              this.xhr = xhr;

              var self = this;
              this.xhr.upload.addEventListener("progress", function(e) {
                    if (e.lengthComputable) {
                      var percentage = Math.round((e.loaded * 100) / e.total);
                      console.log("percentage: ", percentage)
                    }
                  }, false);

              var current_url = window.location.href;

              xhr.open("POST", current_url, true);

              xhr.overrideMimeType('text/plain; charset=x-user-defined-binary');


              reader.onload = function(evt) {
                //Create blob and send?
                xhr.send(evt.target.result);
              };


              reader.readAsBinaryString(file);


         }

         function send() {

            if (fileList != null)
            {
               for (i = 0; i < fileList.length; i++)
               {
                  console.log("sending file : ", fileList[i].name);
                  FileUpload(fileList[i])
               }

            }
         };

      </script>
   </head>
   <body>


    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

      <!--
      <h1>File Upload</h1>
      <noscript>You must enable JavaScript</noscript>
      <div>
      <input type="file" id="inputField" multiple onchange="handleFiles(this.files)">
      </div>
      <div>
      <button onclick='send();'>Send File</button>
      </div>
      -->
   </body>
</html>