[Unit]
Description=OpenTeraVideoDispatchServer
After=network-online.target

[Service]
User=<USER>
Group=<GROUP>
Environment=PYTHONPATH=<YOUR PATH>/opentera.git/teraserver/python
ExecStart=<YOUR PATH>/opentera.git/teraserver/python/env/python-3.10/bin/python3 <YOUR PATH>/opentera.git/teraserver/python/TeraServer.py
WorkingDirectory=<YOUR PATH>/opentera.git/teraserver/python
StandardOutput=syslog+console
StandardError=syslog+console
Restart=always
RestartSec=10s
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
