<!DOCTYPE html>
<html>
   <head>
      <script src="./static/js/opentera.js"></script>
      <script src="./static/js/login.js"></script>
      <script src="./static/js/jquery-3.3.1.min.js"></script>
   </head>
   <body>
      <h1>BureauActif - Login</h1>

      <div class="container">
      Hostname : {{ hostname }} <br>
      Port : {{ port }} <br>
      Backend Hostname : {{ backend_hostname }} <br>
      Backend Port : {{ backend_port }} <br>
      </div>


      <div class="container">
      <form action="/login" method="post" id="loginform">
         <label for="uname"><b>Username</b></label>
         <input type="text" name="name" id="name" placeholder="Utilisateur" oninput="validateInput('#name');" />
         <label for="psw"><b>Password</b></label>
         <input type="password" name="password" id="password" placeholder="Mot de passe" oninput="validateInput('#password');" />
         <input type="submit" value="Connexion" onclick="doLogin('{{ backend_hostname }}', {{ backend_port }});return false;"/>

      </form>
      <div id="messages" style="display:none;">
         <label id="txtmessage">Prêt à se connecter!</label>
     </div>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

   </body>
</html>
