[Unit]
Description=OpenTeraVideoDispatchServer
After=network-online.target

[Service]
Environment=PYTHONPATH=/opentera/teraserver/python
ExecStart=/opentera/teraserver/python/env/python-3.6/bin/python3 /opentera/teraserver/python/services/VideoDispatch/VideoDispatchService.py
WorkingDirectory=/opentera/teraserver/python/services/VideoDispatch
StandardOutput=syslog+console
StandardError=syslog+console
Restart=always
RestartSec=10s
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target